<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenest\Repository\Api\DirectorRepositoryInterface">
        <plugin name="get_award_attribute" type="Magenest\Extensible\Plugin\DirectorGetExtension"/>
    </type>
</config>